@font-face {
    font-family: 'UTM God\'s Word';
    src: url('UTMGodsWordBold.woff2') format('woff2'),
        url('UTMGodsWordBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UTM God\'s Word';
    src: url('UTMGodsWord.woff2') format('woff2'),
        url('UTMGodsWord.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UTM God\'s Word';
    src: url('UTMGodsWordItalic.woff2') format('woff2'),
        url('UTMGodsWordItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'UTM God\'s Word';
    src: url('UTMGodsWordBoldItalic.woff2') format('woff2'),
        url('UTMGodsWordBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

