@font-face {
    font-family: 'Sniglet';
    src: url('Sniglet-ExtraBold.woff2') format('woff2'),
        url('Sniglet-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Aleo';
    src: url('SVN-AleoBoldItalic.woff2') format('woff2'),
        url('SVN-AleoBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Aleo';
    src: url('SVN-AleoBold.woff2') format('woff2'),
        url('SVN-AleoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
