@font-face {
    font-family: 'SVN-Bariol';
    src: url('SVN-Bariol.woff2') format('woff2'),
        url('SVN-Bariol.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

