@font-face {
    font-family: 'UTM Cooper';
    src: url('UTMCooperBlack.woff2') format('woff2'),
        url('UTMCooperBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

