@font-face {
    font-family: 'SVN-Lobster';
    src: url('SVN-Lobster.woff2') format('woff2'),
        url('SVN-Lobster.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

