@font-face {
    font-family: 'MTO Jamai';
    src: url('MTOJamai.woff2') format('woff2'),
        url('MTOJamai.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

