@font-face {
    font-family: 'SVN-Astronout';
    src: url('SVN-Astronout.woff2') format('woff2'),
        url('SVN-Astronout.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
