@font-face {
    font-family: 'DIN Condensed';
    src: url('DINCondensed-Bold.woff2') format('woff2'),
        url('DINCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

