@font-face {
    font-family: 'UTM Sharnay';
    src: url('UTMSharnay.woff2') format('woff2'),
        url('UTMSharnay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

