@font-face {
    font-family: 'Haiku';
    src: url('HaikusScriptv09Bold.woff2') format('woff2'),
        url('HaikusScriptv09Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

