@font-face {
    font-family: 'mbbank';
    src: url('AvertaStdCY-Semibold.woff2') format('woff2'),
        url('AvertaStdCY-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mbbank';
    src: url('AvertaStdCY-Regular.woff2') format('woff2'),
        url('AvertaStdCY-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

