@font-face {
    font-family: 'ITC Stone Serif';
    src: url('StoneSerif-Semibold.woff2') format('woff2'),
        url('StoneSerif-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Matrix';
    src: url('SFUMatrix.woff2') format('woff2'),
        url('SFUMatrix.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

