@font-face {
    font-family: 'SVN-Zelda Sans';
    src: url('SVN-ZeldaSans.woff2') format('woff2'),
        url('SVN-ZeldaSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

