@font-face {
    font-family: 'Anurati';
    src: url('Anurati-Regular.woff2') format('woff2'),
        url('Anurati-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'UTM Avo Bold';
    src: url('UTMAvoBold.woff2') format('woff2'),
        url('UTMAvoBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
