@font-face {
    font-family: 'SVN-Revolution';
    src: url('SVN-Revolution.woff2') format('woff2'),
        url('SVN-Revolution.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

