@font-face {
    font-family: 'UTM Impact';
    src: url('UTMImpact.woff2') format('woff2'),
        url('UTMImpact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

