@font-face {
    font-family: 'UTM Banque';
    src: url('UTMBanqueBold.woff2') format('woff2'),
        url('UTMBanqueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Transformer';
    src: url('SVN-Transformer.woff2') format('woff2'),
        url('SVN-Transformer.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UTM Eremitage';
    src: url('UTMEremitage.woff2') format('woff2'),
        url('UTMEremitage.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

