@font-face {
    font-family: 'SVN-Apple';
    src: url('SVN-Apple.woff2') format('woff2'),
        url('SVN-Apple.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

