
@font-face {
  font-family: 'MONOGRAMOS';
  src: url('MONOGRAMOS.eot?#iefix') format('embedded-opentype'),  url('MONOGRAMOS.woff') format('woff'), url('MONOGRAMOS.ttf')  format('truetype'), url('MONOGRAMOS.svg#MONOGRAMOS') format('svg');
  font-weight: normal;
  font-style: normal;
}
