@font-face {
    font-family: 'William Letter Signature DEMO';
    src: url('WilliamLetterSignatureDEMO.woff2') format('woff2'),
        url('WilliamLetterSignatureDEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steelfish Rg';
    src: url('SteelfishRg-Regular.woff2') format('woff2'),
        url('SteelfishRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

