@font-face {
    font-family: 'Edo SZ';
    src: url('EdoSZ.woff2') format('woff2'),
        url('EdoSZ.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

