@font-face {
    font-family: 'SVN-DHF Dexsar Brush';
    src: url('SVN-DHFDexsarBrush.woff2') format('woff2'),
        url('SVN-DHFDexsarBrush.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

