@font-face {
    font-family: 'UTM ThuPhap Thien An';
    src: url('UTMThuPhapThienAn.woff2') format('woff2'),
        url('UTMThuPhapThienAn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

